* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#actions {
  button {
    margin: 0.3em;
  }
}

#modal {
  max-width: 300px;
  margin: 1em;
  padding: 1em;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  position: relative;

  button {
    cursor: pointer;
    outline: none;

    &:focus {
      outline: 2px solid black;
    }
  }

  & > button {
    position: absolute;
    border: solid 1px black;
    font-size: x-small;
    border-radius: 50%;
    padding: 0.1em 0.4em;
    top: 3px;
    right: 3px;
  }

  h1,
  p {
    text-align: center;
  }

  p {
    margin-bottom: 2em;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button {
      padding: 0.2em 0.9em;
      min-width: 50px;
      border: none;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

      &.yes {
        background-color: red;
        color: green;
      }

      &.no {
        background-color: green;
        color: red;
      }
    }
  }
}
