.header-nav {
  position: sticky;
  box-shadow: 0px 10px 20px #ccc;
  margin-bottom: 10px;
}

.header-ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.header-h2 {
  font-family: monospace;
  font-size: 30px;
}

.logout-btn {
  padding: 10px;
  background-color: "orangered" !important;
  border: none;
}

.logout-btn:hover {
  background-color: rgb(0, 6, 59);
}
